<div >
  <h2 align="middle">Welcome to the Magic the Gathering Deck Builder </h2>
  <div align="middle">
    <%=  image_tag "http://www.pockettactics.com/assets/BlogPosts/_resampled/ScaleWidthWzExNDBd/FillWzExNDAsNjAwXQ/b4efda564b5c911f48301188e5874b3c.jpg", width:"76.5%"%>
  </div>
</div>
<h3></h3>
