<h1>All Players</h1>
<div class="row">
    <div class="col-md-4">
      <h1>
        Players
      </h1>
    </div>
    <div class="col-md-4">
      <h1>
        Deck Count
      </h1>
    </div>
    <div class="col-md-4">
      <h1>
        Total Card Count
      </h1>
    </div>
</div>

<div class="row">
  <% @users.each do |user| %>
    <div class="col-md-4">
      <h3>
        <%= link_to user.name, user_path(user) %>
      </h3>
    </div>
    <div class="col-md-4">
      <h3>
        <%=user.decks.count%>
      </h3>
    </div>
    <div class="col-md-4">
      <h3>
        <%=user.cards.count%>
      </h3>
    </div>
  <% end %>
</div>
