<h1><%= @deck.name %></h1>

<%= link_to "View and add cards to deck", cards_path %>

<% @deck.cards.uniq.each do |card| %>
<br />
    <%= @deck.cards.count %>x <%=link_to card.name, card_path(card) %>
     <!-- trying to display number of duplicate cards -->
<% end %>
